@media only screen and (max-width:575px) {
    .menu-2 img {
        width: fit-content;
    }

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 12%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    .nav-l {
        height: 100%;
        width: 145px;

    }

    .hc_content {
        display: flex;
        width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: black;
        position: absolute;
        top: 90%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .header_tabs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    label.menu-btn1 {
        position: absolute;
        right: 15px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 19px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.hc_content {
        left: 0px;
        display: flex;
        align-items: baseline;
        width: auto;
        margin: 0px;
        border-radius: 20px;
    }

    #click1:checked~.hc_content .header_tabs .ht_tab {
        margin-left: 0px;
        width: 95%;
        font-size: 20px;
        letter-spacing: 1px;
        justify-content: center;
        margin-right: 0px;
    }

    .hc_content .header_tabs .ht_tab:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ht_title,
    .ht_title1 {
        align-items: center;
        color: black;
    }

    .mx_hamburger-container {
        display: none;
    }

    img {
        width: 100%;
    }

    header.header-container {
        padding: 0px 5px;
        gap: 10px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 7px;
    }

    i.fa-solid.fa-bell {
        display: none;
    }

    .hc_right-content {
        justify-content: flex-start;
        width: auto;
    }

    .gl-img {
        border: none;
        width: auto;
        height: auto;
        margin: 0px;
        margin-left: 0px;
    }

    .gl-img p {
        display: none;
    }

    .nav-l span,
    .detail-content1 span {
        font-size: 15px;
    }

    .login-button {
        margin-right: 0px;
    }

    .menu-btn1 i {
        display: block;
        font-size: 19px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.hc_content {
        left: 0px;
        display: flex;
        align-items: baseline;
        width: auto;
        margin: 0px;
        border-radius: 20px;
    }

    #click1:checked~.hc_content .header_tabs .ht_tab {
        margin-left: 0px;
        width: 95%;
        font-size: 20px;
        letter-spacing: 1px;
        justify-content: center;
        margin-right: 0px;
    }

    .hc_content .header_tabs .ht_tab:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ht_title,
    .ht_title1 {
        align-items: center;
        color: white;
    }

    .mx_hamburger-container {
        display: none;
    }

    .main-box {
        width: 590%;
    }

    img {
        width: 100%;
    }

    .hide-btn>button {
        width: 45%;
        height: 100%;
    }

    .hide-btn>p {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .hide-title>p {
        margin-bottom: 0rem;
        margin-top: 0rem;
        padding: 5px 0px;
    }

    .download-app-floating {
        right: 0;
    }

    .ht_menu,
    .ht_menu1 {
        transform: translateX(95%);
        left: 0;
    }
}

@media only screen and (min-width:576px) and (max-width:727px) {

    .ht_menu,
    .ht_menu1 {
        transform: translateX(95%);
        left: 0;
    }

    .menu-2 img {
        width: fit-content;
    }

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 12%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    .hc_content {
        display: flex;
        width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: black;
        position: absolute;
        top: 90%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .header_tabs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    label.menu-btn1 {
        position: absolute;
        right: 35px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 19px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.hc_content {
        left: 0px;
        display: flex;
        align-items: baseline;
        width: auto;
        margin: 0px;
        border-radius: 20px;
    }

    #click1:checked~.hc_content .header_tabs .ht_tab {
        margin-left: 0px;
        width: 95%;
        font-size: 20px;
        letter-spacing: 1px;
        justify-content: center;
        margin-right: 0px;
    }

    .hc_content .header_tabs .ht_tab:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ht_title,
    .ht_title1 {
        align-items: center;
        color: white;
    }

    .mx_hamburger-container {
        display: none;
    }

    img {
        width: 100%;
    }

    .main-box {
        width: 365%;
    }

    .hide-btn>button {
        width: 45%;
        height: 100%;
    }

    .hide-btn>p {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .hide-title>p {
        margin-bottom: 0rem;
        margin-top: 0rem;
        padding: 5px 0px;
    }

    .download-app-floating {
        right: 0;
    }
}

@media only screen and (min-width:728px) and (max-width:991px) {
    .download-app-floating {
        bottom: 80px;
    }

    .hc_content {
        position: fixed;
        top: 30.3rem;
        background: repeating-linear-gradient(0deg, white, black 100px);
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: 0px;
    }

    .header_tabs {
        justify-content: center;
        gap: 1rem;
    }

    .ht_title,
    .ht_title1 {
        color: black;
    }
}

@media only screen and (min-width:992px) and (max-width:1345px) {
    .download-app-floating {
        bottom: 80px;
    }

    .hc_content {
        position: fixed;
        top: 30.3rem;
        background: repeating-linear-gradient(0deg, white, black 100px);
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: 0px;
    }

    .header_tabs {
        justify-content: center;
        gap: 1rem;
    }

    .ht_title,
    .ht_title1 {
        color: black;
    }
}

@media screen and (max-width: 1024px) {
    .bc-meta-row {
        bottom: 30%;
        left: 40px;
    }

    .bc-ctas-row {
        bottom: 20%;
        left: 40px;
    }

    .bc-lang-genre {
        bottom: 7%;
        font-size: 13px;
    }

    .bc-sub-title {
        font-size: 15px;
        margin-top: 30px;
    }

    .bc-play-icon,
    .bc-more-info-btn {
        padding: 12px;
        font-size: 18px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 28px;
        margin-right: 10px;
    }

    .add-to-mylist .atml__text {
        font-size: 17px;
    }

    .bs-nav-cont {
        bottom: 25%;
        right: 7%;
    }

    .v-center {
        padding: 9px;
    }

    .bs-dots {
        bottom: 25%;
    }
}

@media screen and (max-width: 768px) {

    .bc-meta-row,
    .bc-ctas-row {
        left: 20px;
        width: auto;
    }

    .bc-meta-row {
        bottom: 20%;
        width: 90%;
    }

    .bc-ctas-row {
        display: none;
    }

    .bc-lang-genre {
        bottom: -10px;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .bc-sub-title {
        font-size: 14px;
        line-height: 2;
        margin-top: 20px;
    }

    .bc-play-icon,
    .bc-more-info-btn,
    .add-to-mylist .fa-circle-plus {
        width: auto;
        padding: 10px;
        font-size: 18px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 24px;
        margin-right: 8px;
    }

    .add-to-mylist .atml__text {
        font-size: 16px;
    }

    .bs-nav-cont {
        display: none;
    }

    .v-center {
        padding: 8px;
    }

    .bs-dots {
        bottom: 0;
        height: fit-content;
    }

    .bc-rating-label {
        position: absolute;
        top: 45px;
        left: auto;
        right: 0;
        width: fit-content;
    }

    .ht-section-container {
        margin-top: 0%;
    }
}

.image-card {
    width: 100%;
    height: auto;
}

.original-image {
    width: 100%;
    height: auto;
}

.bc-title,
.bc-sub-title {
    font-size: 1rem;
    margin-top: 0px;
    height: fit-content;
}

.bc-play-icon,
.bc-more-info-btn {
    font-size: 0.875rem;
}

.add-to-mylist .atml__text {
    font-size: 0.875rem;
}

.v-center .material-symbols-outlined {
    font-size: 1.5rem;
}

.bs-dots .dot {
    height: 5px;
    width: 5px;
}

.bs-dots .dot.active {
    width: 10px;
}

.content {
    max-width: 100%;
    min-height: 100%;
}