@media only screen and (min-width:1441px) and (max-width:2560px) {
    .header-container {
        width: 100%;
        left: 50%;
    }

    .hc_content {
        margin-left: 30%;
    }

    .ht_tab:not(:last-child) {
        margin-right: 25px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 12px;
    }

    body {
        font-size: 20px;
    }

    .content {
        width: 119%;
        max-width: 2560px;
        margin-right: 150px;
    }

    section {
        width: 119%;
        max-width: 2560px;
    }

    .ht-section-container {
        margin-top: -21%;
    }

    .main-box {
        height: 450px;
    }

    .hide {
        height: 90%;
        left: 110px;
    }

    .hide-down {
        gap: 0px;
    }

    .hide-btn>button {
        height: 33px;
        font-size: 18px;

    }

    .hide-btn>p {
        font-size: 15px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 30px;
    }

    .hide-title {
        gap: 0px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 20px;
    }

    .hide-title>p {
        font-size: 13px;
    }

    .hide-title>button {
        font-size: 15px;
    }

    .hide-up {
        margin-top: 35px;
    }

    .bc-ctas-row {
        bottom: 29%;
    }

    .bs-nav-cont {
        bottom: 32%;
        right: 4%;
    }

    .bs-dots {
        bottom: 31%;
    }

    .is-container>p {
        font-size: 28px;
    }

    .is-container {
        margin: auto 2.16%;
    }

    .box {
        max-width: 8.3%;
        border-radius: 25px;
    }

    .ads {
        width: 1000px;
        margin: auto 27%;
    }

    .footer {
        width: 100%;
        max-width: 2560px;
        margin-right: 90px;
    }

    .download-app-floating .da-icon {
        transform: translateX(-20px)
    }

    .download-app-floating {
        bottom: 12px;
        right: 100px;
    }

}

@media only screen and (min-width:1025px) and (max-width:1440px) {
    .header-container {
        left: 50%;
        width: 100%;
        padding: 0px 30px;
    }

    .hc_content {
        margin-left: 100px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 33px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 20px;
    }

    .login-user {
        display: none;
    }

    body {
        font-size: 18px;
    }

    .content {
        max-width: 1440px;
        min-width: 864px;
    }

    section {
        width: 100%;
        max-width: 1440px;

    }

    .original-image {
        width: 100%;
    }

    .bs-slide {
        width: 100%;
    }

    .bc-meta-row {
        left: 30px;
    }

    .main-box {
        height: 250px;
    }

    .hide {
        height: 100%;
        left: 45px;
    }

    .hide-btn>button {
        height: 20px;
        font-size: 10px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 7px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 15px;
    }

    .ht_item a>span:hover {
        color: #0079ff;
    }

    .ht_menu,
    .ht_menu1 {
        left: 58%;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 12px;
    }

    .hide-title>p {
        font-size: 8.4px;
    }

    .hide-title>button {
        font-size: 5px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 6px;
    }

    .hide-up {
        margin-top: 3px;
    }

    .bc-ctas-row {
        bottom: 26%;
        left: 15px;
    }

    .bs-nav-cont {
        bottom: 29%;
        right: 8.8%;
    }

    .bs-dots {
        bottom: 28%;
        right: 41%;
        white-space: nowrap;
    }

    .is-container {
        margin: auto 3.16%;
    }

    .box {
        width: 8.5%;
    }

    .ads {
        width: 60%;
        margin: 0% 20%;
    }

    .footer {
        min-width: 62vw;
    }

    .download-app-floating .da-icon {
        transform: translateX(-25px)
    }

    .download-app-floating {
        bottom: 12px;
        right: 20px;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .header-container {
        left: 50%;
        width: 100%;
        padding: 0px 10px;
    }

    .hc_content {
        margin-left: 250px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .ht-section-container {
        margin-top: -28%;
    }

    .gl-img {
        display: none;
    }

    .right-content {
        right: 0.3%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 20px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 10px;
    }

    .login-button {
        display: none;
    }

    .login-user {
        display: inline;
    }

    .header_tabs {
        display: none;
    }

    .header-tab1 {
        display: inline-flex;
    }

    .header-tabs1 {
        display: inline-flex;
    }

    .header-tabs1 .ht-tab1:hover .ht_menu1 {
        display: inline-flex;
    }

    body {
        font-size: 16px;
    }

    .content {
        width: 1024px;
    }

    section {
        width: 1024px;
    }

    .original-image {
        width: 100%;
    }

    .bs-slide {
        width: 100%;
    }

    .bc-meta-row {
        left: 15px;
        bottom: 37%;
    }

    .bc-lang-genre {
        font-size: 12px;
        bottom: 12%;
        left: 12px;
    }

    .bc-sub-title {
        margin-bottom: 15px;
        position: relative;
        left: 11px;
    }

    .bc-rating-label {
        left: 28px;
        padding: 5px 5px;
        top: 60px;
    }

    section {
        font-size: 16px;
    }

    .is-container>p {
        font-size: 21px;
    }

    .main-box {
        max-width: 160%;
        height: 200px;
    }

    .box {
        max-width: 100%;
    }

    .hide {
        height: 100%;
        left: 30px;
    }

    .hide-btn>button {
        height: 17px;
        font-size: 7px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 6px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 12px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 9.4px;
    }

    .hide-title>p {
        font-size: 5px;
        font-weight: 500;
    }

    .hide-title>button {
        font-size: 5px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 6px;
    }

    .hide-up {
        margin-top: 0px;
    }

    .bc-ctas-row {
        bottom: 28%;
        left: 10px;
    }

    .bc-play-icon {
        width: 80px;
        padding: 10px;
    }

    .bc-play-icon .fa-play {
        padding-right: 5px;
    }

    .bc-more-info-btn {
        width: 100px;
        height: 45px;
        padding: 7px;
        position: relative;
        right: 12px;
    }

    .add-to-mylist>.atml__text {
        position: relative;
        right: 25px;
        font-size: 16px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 25px;

    }

    .bs-nav-cont {
        bottom: 43%;
        right: 7%;
    }

    .bs-dots {
        bottom: 41%;
        right: 58%;
        white-space: nowrap;
    }

    .is-container {
        margin: auto 2.6%;
    }


    .ads {
        width: 55%;
        margin: 0% 22%;
    }

    .footer {
        min-width: 1024px;
    }

    .btf-ctr.utf-ctr {
        padding: 15px 15px 0;
    }

    .download-app-floating .da-icon {
        transform: translateX(-50px)
    }

    .download-app-floating {
        bottom: 12px;
        right: 20px;
    }

}

@media only screen and (min-width:426px) and (max-width:768px) {
    .header-container {
        left: 50%;
        width: 100%;
        padding: 0px 10px;
    }

    .hc_content {
        margin-left: 300px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .gl-img {
        display: none;
    }

    .right-content {
        right: 0.3%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 20px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 10px;
    }

    .login-button {
        display: none;
    }

    .login-user {
        display: inline;
    }

    .header_tabs {
        display: none;
    }

    .header-tab1 {
        display: inline-flex;
    }

    .header-tabs1 {
        display: flex;
    }

    .header-tabs1 .ht-tab1:hover .ht_menu1 {
        display: flex;
    }

    .ht_menu,
    .ht_menu1 {
        left: 55%;
    }

    body {
        font-size: 14px;
    }

    .content {
        width: 1190px;
    }

    .ht-section-container {
        margin-top: -21%;
    }

    section {
        width: 1190px;
    }

    .original-image {
        width: 100%;
    }

    .bc-meta-row {
        left: 15px;
    }

    .bc-lang-genre {
        font-size: 12px;
        bottom: 12%;
        left: 12px;
    }

    .bc-sub-title {
        margin-bottom: 15px;
        position: relative;
        left: 11px;
    }

    .bc-rating-label {
        left: 28px;
        padding: 5px 5px;
        top: 60px;
    }

    .main-box {
        width: 198%;
        height: 320px;
    }

    .box {
        width: 40%;
    }

    .hide {
        height: 115%;
        left: 76px;
    }

    .hide-btn>button {
        height: 19px;
        font-size: 11px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 11px;
        font-weight: lighter;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 17px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 13px;
    }

    .hide-title>p {
        font-size: 10px;
    }

    .hide-title>button {
        font-size: 9px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 2px;
    }

    .hide-up {
        height: 50%;
        width: 100%;
        margin-top: 23px;
    }

    .hide-title {
        gap: 0px;
    }

    .bc-ctas-row {
        bottom: 26%;
        left: 10px;
    }

    .bc-play-icon {
        width: 80px;
        padding: 10px;
    }

    .bc-play-icon .fa-play {
        padding-right: 5px;
    }

    .bc-more-info-btn {
        width: 100px;
        height: 45px;
        padding: 7px;
        position: relative;
        right: 12px;
    }

    .add-to-mylist>.atml__text {
        position: relative;
        right: 25px;
        font-size: 16px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 25px;

    }

    .bs-nav-cont {
        bottom: 30%;
        right: 8%;
    }

    .bs-dots {
        bottom: 27%;
        right: 50%;
        white-space: nowrap;
    }

    .is-container {
        margin: auto 2.6%;
    }


    .ads {
        width: 100%;
        margin-left: 245px;
    }

    .footer {
        width: 1190px;
    }

    .btf-ctr.utf-ctr {
        padding: 15px 15px 0;
    }

    .download-app-floating {
        bottom: 12px;
        right: 20px;
    }

}

@media only screen and (min-width:376px) and (max-width:425px) {
    .header-container {
        left: 50%;
        width: 100%;
        padding: 0px 10px;
    }

    .hc_content {
        margin-left: 60px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .gl-img {
        display: none;
    }

    .right-content {
        right: 0.3%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 20px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 10px;
    }

    .login-button {
        display: none;
    }

    .login-user {
        display: inline;
    }

    .header_tabs {
        display: none;
    }

    .header-tab1 {
        display: inline-flex;
    }

    .header-tabs1 {
        display: flex;
    }

    .header-tabs1 .ht-tab1:hover .ht_menu1 {
        display: flex;
    }

    body {
        font-size: 12px;
    }

    .bs-slide {
        width: 106%;
    }

    .content {

        width: 620px;
    }

    section {
        width: 620px;
    }

    .ht-section-container {
        margin-top: -68%;
    }

    .original-image {
        width: 94.3%;
    }

    .bc-meta-row {
        left: 15px;
        bottom: 31%;
        width: 300px;
    }

    .bc-lang-genre {
        font-size: 12px;
        bottom: 17%;
        left: 12px;
    }

    .bc-lang-genre>.bc-lang,
    .bc-genre {
        font-size: 11px;
    }

    .bc-sub-title {
        bottom: 29px;
        position: relative;
        left: 11px;
        font-size: 12px;
    }

    .bc-rating-label {
        left: 28px;
        padding: 5px 5px;
        top: 60px;
        font-size: 11px;
    }

    .main-box {
        width: 218%;
        height: 180px;
    }

    .box {
        width: 70%;
    }

    .hide {
        height: 100%;
        left: 45px;
    }

    .hide-btn>button {
        height: 15px;
        font-size: 8px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 5px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 10px;
    }

    .hide-title {
        gap: 2px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 11px;
    }

    .hide-title>p {
        font-size: 6.4px;
    }

    .hide-title>button {
        font-size: 5px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 6px;
    }

    .hide-up {
        margin-top: 0px;
    }

    .bc-ctas-row {
        bottom: 25%;
        left: 10px;
    }

    .bc-play-icon {
        width: 65px;
        padding: 5px;
        font-size: 16px;
    }

    .bc-play-icon .fa-play {
        padding-right: 5px;
    }

    .bc-more-info-btn {
        width: 75px;
        height: 30px;
        padding: 7px;
        position: relative;
        right: 12px;
        font-size: 14px;
    }

    .add-to-mylist>.atml__text {
        position: relative;
        right: 25px;
        font-size: 14px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 17px;
        margin-right: 5px;

    }

    .bs-nav-cont {
        bottom: 30%;
        right: 8%;
    }

    .v-center {
        border-radius: 4px;
        margin-left: 5px;
        padding: 4px;
    }

    .v-center .material-symbols-outlined {
        width: 20px;
        font-size: 20px;
    }

    .bs-dots {
        bottom: 26%;
        left: 62%;
        white-space: nowrap;
    }

    .bs-dots .dot.active {
        width: 13px;
    }

    .bs-dots .dot {
        margin-right: 5px;
        width: 6px;
    }

    .is-container {
        margin: auto 2.6%;
    }

    .is-container>p {
        font-size: 18px;
    }

    .ads {
        width: 80%;
        margin: 0% 33%;
    }

    .bc-bottom-gradient {
        width: 94%;
    }

    .bc-overlay {
        width: 94.5%;
    }

    .footer {
        min-width: 620px;
    }

    .btf-ctr.utf-ctr {
        padding: 15px 15px 0;
    }

    .download-app-floating .da-icon {
        transform: translateX(-20px)
    }

    .download-app-floating {
        bottom: 12px;
        right: 40px;
    }
}

@media only screen and (min-width:321px) and (max-width:375px) {
    .header-container {
        left: 49.7%;
        width: 100%;
        padding: 0px 10px;
    }

    .hc_content {
        margin-left: 185px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .gl-img {
        display: none;
    }

    .right-content {
        right: 0.3%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 20px;
    }

    .ht-section-container {
        margin-top: -45%;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 10px;
    }

    .login-button {
        display: none;
    }

    .login-user {
        display: inline;
    }

    .header_tabs {
        display: none;
    }

    .header-tab1 {
        display: inline-flex;
    }

    .header-tabs1 {
        display: flex;
    }

    .header-tabs1 .ht-tab1:hover .ht_menu1 {
        display: flex;
    }

    body {
        font-size: 12px;
    }

    .content {
        white-space: nowrap;
        width: 900px;
    }

    section {
        width: 900px;
    }

    .original-image {
        width: 94%;
    }
    .bs-slide{
        width: 107%;
    }

    .bc-meta-row {
        left: 15px;
    }

    .bc-lang-genre {
        font-size: 12px;
        bottom: 12%;
        left: 12px;
    }

    .bc-sub-title {
        margin-bottom: 15px;
        position: relative;
        left: 11px;
    }

    .bc-rating-label {
        left: 28px;
        padding: 5px 5px;
        top: 60px;
    }

    .main-box {
        width: 285%;
        height: 300px;
    }

    .hide {
        height: 100%;
        left: 79px;
    }

    .hide-btn>button {
        height: 18px;
        font-size: 11px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 10px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 20px;
    }

    .hide-title {
        gap: 0px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 15px;
    }

    .hide-title>p {
        font-size: 9px;
    }

    .hide-title>button {
        font-size: 8px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 6px;
    }

    .hide-up {
        margin-top: 5px;
    }

    .bc-ctas-row {
        bottom: 26%;
        left: 10px;
    }

    .ht-section-container {
        margin-top: -45%;
    }

    .bc-play-icon {
        width: 80px;
        padding: 10px;
    }

    .bc-play-icon .fa-play {
        padding-right: 5px;
    }

    .bc-more-info-btn {
        width: 100px;
        height: 45px;
        padding: 7px;
        position: relative;
        right: 12px;
    }

    .add-to-mylist>.atml__text {
        position: relative;
        right: 25px;
        font-size: 16px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 25px;

    }

    .bs-nav-cont {
        bottom: 30%;
        right: 5%;
    }

    .bs-dots {
        bottom: 27%;
        right: 53%;
        white-space: nowrap;
    }

    .is-container {
        margin: auto 2.6%;
    }

    .box {
        width: 8.2%;
    }

    .ads {
        width: 110%;
        margin: 0% 65%;
    }

    .bc-bottom-gradient {
        width: 94%;
    }

    .bc-overlay {
        width: 94.5%;
    }

    .footer {
        min-width: 900px;
    }

    .btf-ctr.utf-ctr {
        padding: 15px 15px 0;
    }

    .download-app-floating .da-icon {
        transform: translateX(-20px)
    }

    .download-app-floating {
        bottom: 40px;
        right: 20px;
    }
}

@media only screen and (max-width:320px) {
    .header-container {
        left: 50%;
        width: 100%;
        padding: 0px 10px;
    }

    .hc_content {
        margin-left: 125px;
    }

    .hc_right-content {
        left: 1.5%;
    }

    .gl-img {
        display: none;
    }

    .right-content {
        right: 0.3%;
    }

    .ht_tab1:not(:last-child) {
        margin-right: 20px;
    }

    .hc_right-content>*:not(:first-child) {
        margin-left: 10px;
    }

    .login-button {
        display: none;
    }

    .login-user {
        display: inline;
    }

    .header_tabs {
        display: none;
    }

    .header-tab1 {
        display: inline-flex;
    }

    .header-tabs1 {
        display: flex;
    }

    .header-tabs1 .ht-tab1:hover .ht_menu1 {
        display: flex;
    }

    body {
        font-size: 12px;
    }

    .content {
        width: 350px;
    }

    section {
        min-width: 770px;
    }

    .ht-section-container {
        margin-top: -67%;
    }

    .is-container>p {
        font-size: 24px;
    }

    .original-image {
        width: 100%;
    }

    .bc-meta-row {
        left: 15px;
    }

    .bc-lang-genre {
        font-size: 12px;
        bottom: 12%;
        left: 12px;
    }

    .bc-sub-title {
        margin-bottom: 15px;
        position: relative;
        left: 11px;
    }

    .bc-rating-label {
        left: 28px;
        padding: 5px 5px;
        top: 60px;
    }

    .main-box {
        width: 365%;
        height: 330px;
    }

    .hide {
        height: 100%;
        left: 95px;
    }

    .hide-btn>button {
        height: 22px;
        font-size: 12px;
        display: flex;
    }

    .hide-btn>p {
        font-size: 11px;
    }

    .hide-icon .material-symbols-outlined {
        font-size: 18px;
    }

    .hide-title {
        gap: 0px;
    }

    .hide-title>span {
        font-weight: bold;
        font-size: 17px;
    }

    .hide-title>p {
        font-size: 10px;
    }

    .hide-title>button {
        font-size: 9px;
        position: relative;
        top: -6px;
    }

    .hide-down {
        gap: 10px;
    }

    .hide-up {
        margin-top: 15px;
    }

    .bc-ctas-row {
        bottom: 26%;
        left: 10px;
    }

    .bc-play-icon {
        width: 80px;
        padding: 10px;
    }

    .bc-play-icon .fa-play {
        padding-right: 5px;
    }

    .bc-more-info-btn {
        width: 100px;
        height: 45px;
        padding: 7px;
        position: relative;
        right: 12px;
    }

    .add-to-mylist>.atml__text {
        position: relative;
        right: 25px;
        font-size: 16px;
    }

    .add-to-mylist .fa-circle-plus {
        font-size: 25px;

    }

    .bs-nav-cont {
        bottom: 30%;
        right: 3%;
    }

    .bs-dots {
        bottom: 29%;
        left: 62%;
    }

    .bs-slide {
        width: 107%;
    }

    .is-container {
        margin: auto 2.6%;
    }

    .box {
        width: 8.2%;
    }

    .ads {
        width: 120%;
        margin: 0% 60%;
    }

    .bc-bottom-gradient {
        width: 94%;
    }

    .bc-overlay {
        width: 94.5%;
    }

    .footer {
        min-width: 772px;
    }

    .btf-ctr.utf-ctr {
        padding: 15px 15px 0;
    }

    .download-app-floating .da-icon {
        transform: translateX(-50px)
    }

    .download-app-floating {
        bottom: 30px;
        right: 20px;
    }
}